<html>

<head>
    <title>El blog de Sonita</title>
</head>
<body>
    <div>
        <h1><a href="/">El blog de Sonita </a></h1>
        <h2>Un <em>primer</em> intento</h2>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">Mi primer post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
        <p>published: 24.06.2023, 11:36</p>
        <h2><a href="">Mi segundo post</a></h2>
        <p>Esto tiene que decir otra cosa para que se vea <strong>diferente</strong> del primer post.</p>
        <ul>
            <li>Esto es un listado</li>
            <li>Otro elemento del listado</li>
            <li>Y otro más.</li>
        </ul>
    </div>
</body>
</html>